In [1]:
print('hellow jupyter notebook!')

hellow jupyter notebook!

# 여기는 마크다운 셀 ** 입력**입니다.

#1단계제목
##2단계 제목
### 3단계 제목

목록을 표현할 수도 있습니다.
-테스트 1
-테스트 2

In [2]:
1+1

2

In [3]:
1.2+3.5

4.7

In [4]:
3.0-100.1

-97.1

In [7]:
a='Enjoy '
b='python!'
c=a+b
print(c)
type(c)

Enjoy python!

str

In [8]:
print(c*3)

Enjoy python!Enjoy python!Enjoy python!

In [9]:
# 1번 학생의 국어, 영어, 수학 , 과학 점수가 각각 90,95,85,80
student1= [90,95,85,80]
student1

[90, 95, 85, 80]

In [10]:
type(student1)

list

In [11]:
cls

In [15]:
list_con1=[1,2,3,4]
list_con2=[5,6,7,8]
list_con = list_con1+list_con2

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
list_con1=[1,2,3,4]
list_con = list_con1 *3

print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [18]:
list_data1 = [1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [21]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas')
print(myFriends)
 #append 는 리스트에서 항목 하나를 맨 마지막에 추가하는 것이다.

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [24]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1, 'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

In [26]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)
#extend() 는 리스트에서 항목 여러개를 맨 마지막에 추가하는 메서드

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

In [28]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.sort()
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Lisa', 'Mary', 'Robert']

In [35]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
type(A)
type(B)

set

In [36]:
dict_data1 = {1:"버스", 3:"비행기", 4:"택시", 5: "자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [38]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나" :105}
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [39]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [40]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [41]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [42]:
fruit_code2 = {"오렌지":106, "수박":107}
fruit_code.update(fruit_code2)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [43]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict

In [44]:
x=95
if x>90:
    print("pass")

pass